<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-d-heading" data-cy="DCreateUpdateHeading" jhiTranslate="appGwApp.d.home.createOrEditLabel">Create or edit a D</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appGwApp.d.uid" for="field_uid">Uid</label>
          <input type="text" class="form-control" name="uid" id="field_uid" data-cy="uid" formControlName="uid" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appGwApp.d.entDDDcod" for="field_entDDDcod">Ent DD Dcod</label>
          <input type="text" class="form-control" name="entDDDcod" id="field_entDDDcod" data-cy="entDDDcod" formControlName="entDDDcod" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appGwApp.d.entDDDdsc" for="field_entDDDdsc">Ent DD Ddsc</label>
          <input type="text" class="form-control" name="entDDDdsc" id="field_entDDDdsc" data-cy="entDDDdsc" formControlName="entDDDdsc" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
