<div>
  <h2 id="page-heading" data-cy="EHeading">
    <span jhiTranslate="appGwApp.e.home.title">ES</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appGwApp.e.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-e"
        [routerLink]="['/e/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appGwApp.e.home.createLabel"> Create a new E </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eS?.length === 0">
    <span jhiTranslate="appGwApp.e.home.notFound">No eS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="eS && eS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="appGwApp.e.uid">Uid</span></th>
          <th scope="col"><span jhiTranslate="appGwApp.e.entCCCuid">Ent CC Cuid</span></th>
          <th scope="col"><span jhiTranslate="appGwApp.e.entEEEcod">Ent EE Ecod</span></th>
          <th scope="col"><span jhiTranslate="appGwApp.e.entEEEdsc">Ent EE Edsc</span></th>
          <th scope="col"><span jhiTranslate="appGwApp.e.entCCCuid">Ent CC Cuid</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of eS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/e', e.id, 'view']">{{ e.id }}</a>
          </td>
          <td>{{ e.uid }}</td>
          <td>{{ e.entCCCuid }}</td>
          <td>{{ e.entEEEcod }}</td>
          <td>{{ e.entEEEdsc }}</td>
          <td>
            <div *ngIf="e.entCCCuid">
              <a [routerLink]="['/c', e.entCCCuid?.id, 'view']">{{ e.entCCCuid?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/e', e.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/e', e.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(e)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
