<div>
  <h2 id="page-heading" data-cy="CHeading">
    <span jhiTranslate="appGwApp.c.home.title">CS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appGwApp.c.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-c"
        [routerLink]="['/c/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appGwApp.c.home.createLabel"> Create a new C </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cS?.length === 0">
    <span jhiTranslate="appGwApp.c.home.notFound">No cS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cS && cS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="appGwApp.c.uid">Uid</span></th>
          <th scope="col"><span jhiTranslate="appGwApp.c.entCCCcod">Ent CC Ccod</span></th>
          <th scope="col"><span jhiTranslate="appGwApp.c.entCCCdsc">Ent CC Cdsc</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/c', c.id, 'view']">{{ c.id }}</a>
          </td>
          <td>{{ c.uid }}</td>
          <td>{{ c.entCCCcod }}</td>
          <td>{{ c.entCCCdsc }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/c', c.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/c', c.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(c)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
